@import "tailwindcss";

* {
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
}
html,
body{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #161a22;
  scroll-behavior: smooth;
}
button,
input,
textarea,
select {
  font-family: 'Roboto', sans-serif;
}
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-menu,
.ant-table,
.ant-tabs,
.ant-card {
  font-family: 'Roboto', sans-serif;
  color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
}
.ant-menu-item-selected {
  background-color: #6c5ce7 !important;
}

.ant-menu-item-selected a {
  color: #fff !important;
}

.ant-menu-item:hover {
  background-color: #4b5563 !important;
}
.ant-menu-item a{
  color: #dbd4d3 !important;
}

.dark-search .ant-input {
  background: transparent !important;
  color: #fff;
  border-color: #444;
  width: 200px;
}

.dark-search .ant-input::placeholder {
  color: #aaa;
}

.dark-search .ant-input-search-button {
  background: transparent;
  border-color: #444;
  color: #fff;
}

.dark-search .ant-btn:hover {
  background: rgba(255, 255, 255, 0.08);
}
.action-button{
  color: rgb(255, 148, 148);
}

.action-button:hover{
  color: rgb(252, 106, 106);
}


.segmented-gap .ant-segmented-group {
  display: flex;
  gap: 8px; 
}

.segmented-gap .ant-segmented-item {
  border-radius: 8px; 
}